/* line 11, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/core/base.scss */
html, body { background-color: #fafafa; }

/* line 15, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/core/base.scss */
body { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 16px; }

/* line 37, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list { background-color: white; list-style-type: none; margin: 0; padding: 0; position: relative; }
/* line 45, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list:before, .todo-list:after { border-left: 1px solid darkorange; content: ''; display: block; position: absolute; top: 0; bottom: 0; }
/* line 54, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list:before { left: 45px; }
/* line 58, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list:after { left: 50px; }
/* line 62, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list > * { border-bottom: 1px solid #cccccc; margin: 0; padding: 0 0 0 65px; position: relative; }
/* line 68, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list > *:first-child { border-top: 1px solid #cccccc; }

/* line 74, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-title { display: block; line-height: 40px; height: 40px; }
/* line 79, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-done .todo-title { text-decoration: line-through; }
/* line 83, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-edit .todo-title { display: none; }

/* line 88, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-editor { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; display: block; font-size: base-font-size; margin: 0; padding: 0; width: 100%; height: 40px; }
/* line 98, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-editor:focus { outline: none; }
/* line 103, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-editor::-moz-focus-inner { border: 0; padding: 0; }
/* line 109, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-list .todo-editor { display: none; }
/* line 113, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-edit .todo-editor { display: block; }

/* line 119, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-toggle, .todo-remove { cursor: pointer; font-size: 20px; font-style: italic; font-weight: bold; position: absolute; top: 15px; }
/* line 130, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-edit .todo-toggle, .todo-edit .todo-remove { display: none; }

/* line 135, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-toggle { color: dimgrey; margin: 0; left: 10px; }
/* line 140, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-done .todo-toggle { color: darkgreen; }

/* line 145, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-remove { color: darkred; right: 10px; }

/* line 151, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-header { background-color: saddlebrown; color: white; font-size: 1.3em; margin: 0; padding: 5px; }

/* line 164, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/modules/_todo.scss */
.todo-footer { background-color: #999999; color: white; padding: 3px 5px; }
