/* line 11, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/core/base.scss */
html, body { background-color: #fafafa; }

/* line 15, /Users/zakir/Sites/practice/backbonejs/todo/app/styles/sass/core/base.scss */
body { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 16px; }
