// **************************************************************
// To do list module
// **************************************************************

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Todo list
$todo-list-bg: #fff;
$todo-list-font-size: base-font-size;
$todo-list-vert-ruler: 1px solid #ff8c00;
$todo-list-horz-ruler: 1px solid #ccc;
$todo-list-vert-ruler-offset: 45px;
$todo-list-editor-offset: $todo-list-vert-ruler-offset + 20px;
$todo-list-editor-height: 40px;
$todo-list-label-height: $todo-list-editor-height;
$todo-list-controls-font-size: 20px;
$todo-list-toggle-color: #696969;
$todo-list-toggle-color-checked: #006400;
$todo-list-toggle-offset: $todo-list-vert-ruler-offset - 35px;
$todo-list-remove-color: #8b0000;
$todo-list-remove-offset: $todo-list-toggle-offset;

// Header 
$todo-header-bg: #8b4513; 
$todo-header-color: #fff;
$todo-header-font-size: 1.3em; 
$todo-header-padding: 5px;

// Footer
$todo-footer-bg: #999; 
$todo-footer-color: #fff;
$todo-footer-padding: 3px 5px;

// ----- Todo list and all of its sub-modules ----- //
.todo-list {
	background-color: $todo-list-bg;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

	&:before,
	&:after {
		border-left: $todo-list-vert-ruler;
		content: '';
		display: block;
		position: absolute;		
		top: 0;
		bottom: 0;
	}

	&:before {
		left: $todo-list-vert-ruler-offset;
	}

	&:after {
		left: $todo-list-vert-ruler-offset + 5px;
	}

	> * {
		border-bottom: $todo-list-horz-ruler;
		margin: 0;
		padding: 0 0 0 $todo-list-editor-offset;	
		position: relative;

		&:first-child {
			border-top: $todo-list-horz-ruler;
		}	
	}
}

.todo-title {
	display: block;
	line-height: $todo-list-label-height;
	height: $todo-list-label-height;

	.todo-done & {
		text-decoration: line-through;
	}

	.todo-edit & {
		display: none;
	}
}

.todo-editor {
	@include single-box-shadow(none);
	border: none;
	display: block;
	font-size: $todo-list-font-size;
	margin: 0;
	padding: 0;	
	width: 100%;
	height: $todo-list-editor-height;

	&:focus {		
		outline: none;
	}

	// Remove FireFox's "ghost padding"
	&::-moz-focus-inner {
    	border: 0;
    	padding: 0;
	}

	// Hide inside the todo-list, but display if in edit mode
	.todo-list & {
		display: none;		
	}

	.todo-edit & {
		display: block;
	}
}

.todo-toggle,
.todo-remove {		
	cursor: pointer;
	font: {
		size: $todo-list-controls-font-size;
		style: italic;
		weight: bold;
	}
	position: absolute;	
	top: $todo-list-editor-height / 2 - 5;

	// Display if in edit mode
	.todo-edit & {
		display: none;
	}
}

.todo-toggle {
	color: $todo-list-toggle-color;
	margin: 0;
	left: $todo-list-toggle-offset;	

	.todo-done & {
		color: $todo-list-toggle-color-checked;
	}
}

.todo-remove {	
	color: $todo-list-remove-color;
	right: $todo-list-remove-offset;
}

// ----- Todo header section -----//
.todo-header {
	background-color: $todo-header-bg;
	color: $todo-header-color;
	font-size: $todo-header-font-size;
	margin: 0;
	padding: $todo-header-padding;

	@media (max-width: 480px) {
		//font-size: 
	}
}

// ----- Todo footer section -----//
.todo-footer {
	background-color: $todo-footer-bg;
	color: $todo-footer-color;
	padding: $todo-footer-padding;
}


