// **************************************************************
// Base SCSS styles for the entire app.
// **************************************************************

// --------------------------------------------------
// Variables
// --------------------------------------------------
$base-font-family: Verdana, Helvetica, Arial, sans-serif;
$base-font-size: 16px !default;

html, body {
	background-color: darken(#fff, 2%);
}

body {
	font: {
		family: $base-font-family;
		size: $base-font-size;
	} 
}