<span class="todo-toggle glyphicon glyphicon-ok"></span>
<label class="todo-title">{{title}}</label>
<input class="todo-editor" type="text" value="{{title}}" placeholder="What needs to be done?" /> 
<span class="todo-remove glyphicon glyphicon-remove"></span>


